footer {
  background-color: #222222;
  padding: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

footer .col {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  color: white;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
  color: white;
}
footer p {
  font-size: 15px;
  margin: 0 0 8px 0;
  color: white;
}

footer a {
  font-size: 13px;
  margin-bottom: 10px;
  text-decoration: none;
  color: white;
}

footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: white;
  padding-right: 4px;
  cursor: pointer;
}

footer .install .row {
  margin-top: 20px;
}

footer .follow i:hover,
footer a:hover {
  color: #659dbd;
}

footer .coppyright {
  width: 100%;
  text-align: center;
}
