.invisible{
    display: none !important;
}
.container {
    display: flex;
    height: 96vh;
}

.sidebar {
    width: 23%;
    background: linear-gradient(to bottom right, #FFA500, #FF4500);
}

.sidebar ul {
    list-style: none;
    padding: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.sidebar li {
    color: white;
    padding: 15px;
    cursor: pointer;
    transition: background 0.3s;
    min-width: 200px;
    border-radius: 5px;
}

.sidebar li.active {
    background: black;
}

.content {
    flex-grow: 1;
    background: lightgray;
    overflow: hidden;
}

.sliding-effect {
    animation: slide 0.3s;
}

@keyframes slide {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.sliding-effect.slide-up {
    animation: slide-up 0.3s;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}
/* Logo */
.LOGO{
    width: 20%;
    position: absolute;
}
.LOGO img{
    position: absolute;
    width: 65%;
    left: 28px;
    top: 10px;
}
.content{
  width: 77%;
  --color-bg-gradient: rgba(11, 196, 226, 0.2);
  background-color: rgba(255, 244, 244, 0.5);
  height: 96%;
  position: absolute;
  top: 8px;
  right: 0px;
}

#QUANLYDONHANG {
}
#CHART_SHOW .chart{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 5px;
}
#CHART_SHOW .chart:hover{
    opacity: 0.6;
    background-color: #ccc;
}
#CHART_SHOW .chart img{
    width: 10%;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 3px;
}
#CHART_SHOW .chart .ChartTsp,#CHART_SHOW .chart .ChartSL
,.chart .ChartDuong,.chart .ChartDa,.chart .ChartSize,.chart .ChartTopping,
#CHART_SHOW .chart .ChartTien,#CHART_SHOW .chart .HUY,.chart .HoanThanh{
    text-align: center;
    width: 20%;
    display: inline;
    margin: 0 2px;
}
#CHART_SHOW .chart .HUY,.chart .HoanThanh{
    cursor: pointer;
    padding: 2px;
  }
#CHART_SHOW .chart .HUY{
  background-color: rgb(223, 104, 104);
}
.chart .HoanThanh{
  background-color: rgb(84, 84, 190);
}


/* THỐNG KÊ ĐÔN HÀNG */
.THONGKEDONHANG {
    display: flex;
  }
  
  .THONGKEDONHANG .SOLUONGMUA,
  .THONGKEDONHANG .DOANHTHU,
  .THONGKEDONHANG .SANPHAMBANCHAY {
    flex: 1;
    background: var(--color-bg-gradient);
    padding: 20px;
    text-align: center;
  }
  
  .THONGKEDONHANG .SOLUONGMUA p,
  .THONGKEDONHANG .DOANHTHU p,
  .THONGKEDONHANG .SANPHAMBANCHAY p {
    margin: 0;
  }
  #QUANLYDONHANG h4,
  #QUANLYNGUOIDUNG h4,
  #THONGKEDONHANG h4{
    margin: 10px;
  }
  
  .THONGKEDONHANG .underline {
    width: 50%;
    height: 2px;
    background-color: black;
    margin: 10px auto;
  }
  
  /* Hiệu ứng chạy số */
  @keyframes count-up {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .THONGKEDONHANG .SOLUONGMUA #SoLuongMua,
  .THONGKEDONHANG .DOANHTHU #SoDoanhThu {
    font-size: 24px;
    font-weight: bold;
    animation: count-up 1s ease-in-out;
  }
  
  /* Hiệu ứng hiển thị từng chữ cái */
  @keyframes show-letter {
    0% {
      opacity: 0;
      transform: translateX(-10px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .THONGKEDONHANG .SANPHAMBANCHAY #TenSanPhamBanChay {
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .THONGKEDONHANG .SANPHAMBANCHAY #TenSanPhamBanChay span {
    animation: show-letter 0.1s linear forwards;
    opacity: 0;
    display: inline-block;
  }
  
  .THONGKEDONHANG .SANPHAMBANCHAY #TenSanPhamBanChay span:nth-child(1) {
    animation-delay: 0s;
  }
  
  .THONGKEDONHANG .SANPHAMBANCHAY #TenSanPhamBanChay span:nth-child(2) {
    animation-delay: 0.1s;
  }
  
  /* Tương tự cho các chữ cái tiếp theo */